<%
    character = insideout[ 0 ];
    insideout.forEach(function( item ) {
        if ( item.name === 'Ainsley' ) {
            character = item;
        }
    });
%>

<%- include('_layout/header', { emotion: character.emotion.toLowerCase() }) -%>

<h1 class="main--<%= character.emotion.toLowerCase() %>">Meet <%= character.emotion %></h1>

<p>Ainsley <a href="https://www.flickr.com/photos/holli_joi/22533337418/in/album-72157654691604630/" target="_blank">turned three</a> on September 23 this year, and she's been quickly growing out of <a href="https://www.flickr.com/photos/holli_joi/19185428021/in/album-72157654691604630/" target="_blank">her toddlerhood</a>. She's cultivated a love of clothes (but an indifference to fashion), and chooses her next day's outfit with great care every night. She also had a <a href="https://www.flickr.com/photos/holli_joi/18561506413/in/album-72157654691604630/" target="_blank">second surgery</a> to implant tubes and remove her adenoids in the hopes that it would eliminate her frequent ear infections, and it seems to have worked. Seeing Ian work so hard on his literacy has inspired Ainsley to take <a href="https://www.flickr.com/photos/holli_joi/18994597458/in/album-72157654691604630/" target="_blank">pencil to paper</a> and begin learning how to recognize and write her letters. Her favorites are "S is for Stinky Skunk or Seth" and "A is for AINSLEY!"</p>

<%- include('_layout/marbles', { marbles: character.memories, emotion: character.emotion }) -%>

<%- include('_layout/memories', { memories: character.memories, emotion: character.emotion }) -%>

<%- include('_layout/footer') -%>
