<%
    character = insideout[ 0 ];
    insideout.forEach(function( item ) {
        if ( item.name === 'Holli' ) {
            character = item;
        }
    });
%>

<%- include('_layout/header', { emotion: character.emotion.toLowerCase() }) -%>

<h1 class="main--<%= character.emotion.toLowerCase() %>">Meet <%= character.emotion %></h1>

<p>
    Holli turned twenty-nine this year but <a href="https://www.flickr.com/photos/holli_joi/22765036710/in/album-72157632595338241/" target="_blank">keeps as busy</a> as a teacher half her age. Holli is in her <a href="https://www.flickr.com/photos/holli_joi/22937327432/in/album-72157632595338241/" target="_blank">fourth year</a> at New Tech High School and spent most of the summer planning for new classes, like a brand new one she's developed for her students called <a href="https://www.flickr.com/photos/holli_joi/22926048996/in/album-72157632595338241/" target="_blank">Advanced Graphics</a>. One highlight came last spring when <a href="https://www.flickr.com/photos/holli_joi/19185924511/in/album-72157632595338241/" target="_blank">Ian was a community partner</a> for her Animation Design class and came to New Tech for the day to test out students' animated games.
    She enjoyed visiting <a href="https://www.flickr.com/photos/holli_joi/18561509563/in/album-72157654691604630/" target="_blank">long-time friends</a> every few months as much-needed <a href="https://www.flickr.com/photos/holli_joi/19709260710/in/album-72157654691604630/" target="_blank">sanity boosts</a>. And, just in time for winter, Holli got a remote starter installed in the van, which has brought her more joy than her husband ever has.
</p>

<%- include('_layout/marbles', { marbles: character.memories, emotion: character.emotion }) -%>

<%- include('_layout/memories', { memories: character.memories, emotion: character.emotion }) -%>

<%- include('_layout/footer') -%>
