<%
    emotion = insideout.reduce(function( emotion ) {
        if ( emotion.name === 'Holli' ) {
            return emotion;
        }
    });
%>

<%- include('_layout/header') -%>

<h1>Meet <%= emotion.emotion %></h1>

<p><%= emotion.introduction %></p>

<%- include('_layout/marbles', { marbles: emotion.memories, emotion: emotion.emotion }) -%>

<%- include('_layout/memories', { memories: emotion.memories }) -%>

<%- include('_layout/footer') -%>
