<%
    character = insideout[ 0 ];
    insideout.forEach(function( item ) {
        if ( item.name === 'Miles' ) {
            character = item;
        }
    });
%>

<%- include('_layout/header', { emotion: character.emotion.toLowerCase() }) -%>

<h1 class="main--<%= character.emotion.toLowerCase() %>">Meet <%= character.emotion %></h1>

<p><%- character.introduction %></p>

<%- include('_layout/marbles', { marbles: character.memories, emotion: character.emotion }) -%>

<%- include('_layout/memories', { memories: character.memories }) -%>

<%- include('_layout/footer') -%>
