<%
    character = insideout[ 0 ];
    insideout.forEach(function( item ) {
        if ( item.name === 'Miles' ) {
            character = item;
        }
    });
%>

<%- include('_layout/header', { emotion: character.emotion.toLowerCase() }) -%>

<h1 class="main--<%= character.emotion.toLowerCase() %>">Meet <%= character.emotion %></h1>

<p>Miles turned thirty-mumble this year, and he's never looked less young. He still works at Security Labs doing who-knows-what with websites. Writing is still a focus and passion for him, and he even completed the first draft of an awful novel. (Don't rush out to bookstores just yet, though.) He's also been writing blog posts for and judging <a href=\"http://www.mashstories.com\" target=\"_blank\">the Mash Stories competition</a>, and he's created a website for his writing at <a href=\"http://miles.ink\" target=\"_blank\">Miles.ink</a>. Miles also got back into speaking, giving a talk at the 2015 South Dakota Code Camp.</p>

<%- include('_layout/marbles', { marbles: character.memories, emotion: character.emotion }) -%>

<%- include('_layout/memories', { memories: character.memories }) -%>

<%- include('_layout/footer') -%>
